body{
    margin: 20px;
}

footer{
    margin-top: 10px;
}

.nav{
    margin-top: 0px;
}

.jumbotron{
    border-radius: 5px;
}

.pagination{
    margin: 0px;
}

.h1{
    font-size: 63px;
    line-height: 0px;
}

.imgGallery{
    height: 600px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}